@import '@material-symbols/font-400/outlined.css';

:root {
  --text: 12 11 15;
  --background: 238 238 241;
  --primary: 34 26 183;
  --primary-hover: 24 16 145;
  --accent: 127 98 123;
  --on-primary: 246 245 251;
  --surface: 247 247 250;
  --error: 179 38 30;
  --on-error: 255 255 255;
  --tertiary: 160 79 24;
  --on-tertiary: 255 255 255;
  --overlay: 0 0 0;
  --border: 201 204 210;
  --duration-fast: 150ms;
  --duration-base: 200ms;
  --duration-slow: 300ms;
}

.dark {
  --text: 241 240 244;
  --background: 14 14 17;
  --primary: 80 72 229;
  --primary-hover: 107 99 234;
  --accent: 157 128 153;
  --on-primary: 248 247 255;
  --surface: 25 25 33;
  --error: 242 184 181;
  --on-error: 96 20 16;
  --tertiary: 255 183 124;
  --on-tertiary: 74 39 0;
  --border: 63 63 74;
}

html,
body,
#root {
  background-color: rgb(var(--background));
  color: rgb(var(--text));
}

html,
body {
  user-select: none;
}

input,
textarea,
select {
  user-select: text;
}
